flow.json
[
    {
        "id": "9e210adbf901907b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db9bcef11f9c6eda",
        "type": "inject",
        "z": "9e210adbf901907b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "1a71c4484ea8f773"
            ]
        ]
    },
    {
        "id": "1a71c4484ea8f773",
        "type": "debug",
        "z": "9e210adbf901907b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "35fae07ba7134d44",
        "type": "complete",
        "z": "9e210adbf901907b",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "1a71c4484ea8f773"
            ]
        ]
    },
    {
        "id": "4bf274b651179d1c",
        "type": "catch",
        "z": "9e210adbf901907b",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "1a71c4484ea8f773"
            ]
        ]
    },
    {
        "id": "f8b9f6315e76e810",
        "type": "status",
        "z": "9e210adbf901907b",
        "name": "",
        "scope": null,
        "x": 840,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "41b9df0b5043ab12",
        "type": "complete",
        "z": "9e210adbf901907b",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    }
]